 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>My name is Justin Pinkney. I have a PhD in biophysics and now work in product development, doing machine vision, diagnostics, and algorithms (among other things). I like to make things with code, and sometimes I make and take pretty pictures.</p>
                </div>
            </div>
        </div>
    </section>
